.container {
  width: 640px;
  height: 1334px;
  border: 1px solid black;
  /* justify-content: center; */
  text-align: center;
}

.button {
  /* margin: 0.5rem 1.45rem 0.5rem 1.45rem; */
  margin: 0.5rem;
}

.u-d-buttons {
  position: relative;
  /* left: 40rem; */
  /* margin: .25rem; */

}

.fas {
  color: #fff;
}

.day-button {
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  padding: 3px;
}


.navbar {
  background-color: #4682B4;
}
.navbar-brand {
  display: flex;
  color: #fff;
}




.footer {
  margin-top: 1148px;
  /* width: 640px; */
  /* align-items: center; */
}
