
.header {
  width: 100%;
}
.button {
  /* margin: 0.5rem 1.45rem 0.5rem 1.45rem; */
  margin: 0.2rem;
  color: #fff;
  background-color: #4682B4;
  padding: 0 3rem;
}

.footer {
  width: 100%;
}

.fas {
  color: #fff;
}

/* .calorie-form { */
  /* justify-content: center; */
  /* align-items: center; */
/* } */

.calorie-title {
  margin: 5% 0% 4% 0%;
}

.calorie-option {
  font-size: 12px;
}

.calorie-submit {
  margin-top: 7%;
}

.lifestyle {
  width: 49%;
}


.navbar {
  background-color: #4682B4;
}
.navbar-brand {
  display: flex;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}
